# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode files
.vscode

# Mac files
.DS_Store

# profiler outputs
profile.html
profile.json

# built executables
/build

# cython compiled objects
*.c
*.so